<h2> <%= board.escape("title") %>  <button class="delete-board btn btn-danger">Delete Board</button></h2>
<div class="row">
  <div class="lists">
  </div>
</div>
<hr>
<div class="row">
  <button class="new-list btn btn-info">New List</button>
</div>
