<a href="javascript:void(0)" class="delete delete-list">X</a>
<h3><%= list.escape("title") %></h3>

<div class="row cards">

</div>

<div class="row">
  <button class="new-card btn btn-info">New Card</button>
</div>
